<!DOCTYPE html>
<html ng-app="urlShortener">

   <head>
      <meta charset="utf-8">
      <title>Node Js Url shortener Programe</title>
   </head>
	
   <body>	
   
      <header role="banner">
         <h1>Url shortener </h1>
         <div ng-controller="mainController">
        
         <input type="text" ng-model="url"> <button ng-click="genrateUrl()">Genrate Url</button>
         <b>{{miniUrl}}</b>
         </div>
         
      </header>
      
      <footer>
         
      </footer>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
    <script src="js/index.js"></script>
    <script src="js/services/urlFactory.js"></script>
   </body>   
</html>